
// Color
$primary-color          = #2d8cf0
$info-color             = #2db7f5
$success-color          = #19be6b
$warning-color          = #ff9900
$error-color            = #ed4014
$text-color             = #515a6e
$white                  = #fff
$black                  = #000

// base
$font-size-base  = 14px
$font-size-small = 12px
$font-size-large = 16px
$font-size-large-m = 18px
$font-size-large-l = 24px
$font-size-large-xl = 28px
$font-size-large-xxl = 32px
$font-size-large-xxxl = 36px

$line-height-base = 1.5
$border-color = #dcdee2

// body
$body-color      = $text-color
$body-bg-color   = $white


// button
$btn-color = $body-color
$btn-border-color = $border-color

// input
$input-color = $body-color
$input-border-color = $border-color
$input-placeholder-color = #c5c8ce

$input-focus-border-color = #80bdff
$input-focus-shadow-color = rgba(0, 123, 255, 0.25)

// a
$link-color             = $primary-color
$link-hover-color  = tint($warning-color, 20%)
$link-active-color = shade($warning-color, 5%)

// theme
$subtitle-color = #737b8b
$subtitle-color-light = tint($subtitle-color, 20%)
$subtitle-color-deep = shade($subtitle-color, 35%)

$panel-bg = #363957
$panel-bg-light = tint($subtitle-color, 20%)
$panel-bg-deep = shade($panel-bg, 20%)
$panel-gutter = 12px

$divider-color = #ccc

$grey-1 = #f5f5f5
